.navbar-container {
  // background: linear-gradient(to right, #360033, #0b8793);
  background: #fff;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  min-height: 55px;
  max-height: 55px;
  box-shadow: 0 2px 8px #f0f1f2;
  -webkit-box-shadow: 0 2px 8px #f0f1f2;
  z-index: 999;

  .text-container {
    color: #3d9aff;
    // padding-top: 4px;
    font-weight: 500 !important;
  }

  .span-icon {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    color: black;
  }
}
