.navbar-container {
  background: linear-gradient(to right, #360033, #0b8793);
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;

  .text-container {
    padding-top: 4px;
    font-weight: 400 !important;
  }

  .span-icon {
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    color: #fff;
  }
}
