.show-password-login {
  height: calc(1.5em + 0.9rem + 2px);
}

.text-style {
  font-size: 14px;
  font-weight: 600;
  color: black;
}

.backgroud-login {
  background-image: url("./images/login-bg.jpg");
  background-size: cover;
  object-fit: cover;
}

.login-container {
  width: 400px !important;
  background-color: #ffffffd1;
  padding: 20px;
  padding-bottom: 50px;
  border-radius: 8px;
}

@media screen and (max-width: 800px) {
  .login-container {
    width: 400px !important;
  }
}

@media screen and (max-width: 600px) {
  .login-container {
    width: 300px !important;
  }
}

@media screen and (max-height: 400px) {
  .login-container {
    width: 300px !important;
  }
}
