.logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.site-layout-background {
  background: #fff;
}

.user-info-sidebar {
  height: 150px;
  background-image: url("./images/wolff.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 12px;
  width: 100%;

  .imageLogo {
    .ant-image {
      .ant-image-img {
        border-radius: 50% !important;
      }
    }
  }
  // & img{
  //   width: 40px;
  //   height: 40px;
  //   object-fit: cover;
  //   border-radius: 5px;
  // }
}
